.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.transferbtn {
  background-color: rgb(16, 141, 243);
}

.dashboarduser {
  align-content: flex-end;
}

.nav-item {
  font-size: 12px;
}

.main-content {
  margin-top: 20px;
}
