<header>
  <a routerLink="/staff/login">Staff Corner</a>
</header>
<div class="main-content">
  <div class="left">
    <div class="bankMain">
      <img
        src="/assets/images/bank-img-1.jpg"
        style="height: 150px; width: 180px"
        alt="bank.png"
      />
    </div>
    <p>Your Personal Banking Partner</p>
    <br />
    <p>Banking Partner</p>
  </div>
  <div class="right">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-login">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-6">
                  <a
                    routerLink="/customer/home"
                    class="active"
                    id="login-form-link"
                    >Login</a
                  >
                </div>
                <div class="col-xs-6">
                  <a routerLink="/customer/register" id="register-form-link"
                    >Register</a
                  >
                </div>
              </div>
              <hr />
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-12">
                  <div *ngIf="errorMsg" class="alert alert-danger" role="alert">
                    {{ errorMsg }}
                  </div>
                  <div *ngIf="message" class="alert alert-primary" role="alert">
                    {{ message }}
                  </div>
                  <!--submitted-->
                  <div [hidden]="" style="width: 100%">
                    <form
                      id="login-form"
                      (ngSubmit)="login()"
                      method="post"
                      role="form"
                      style="display: block"
                    >
                      <div class="form-group">
                        <input
                          type="text"
                          name="username"
                          id="username"
                          tabindex="1"
                          class="form-control"
                          placeholder="Username"
                          value=""
                          [(ngModel)]="loginForm.username"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="password"
                          name="password"
                          id="password"
                          tabindex="2"
                          class="form-control"
                          placeholder="Password"
                          [(ngModel)]="loginForm.password"
                        />
                      </div>
                      <div class="form-group text-center">
                        <input
                          type="checkbox"
                          tabindex="3"
                          class=""
                          name="remember"
                          id="remember"
                        />
                        <label for="remember"> Remember Me</label>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-sm-6 col-sm-offset-3">
                            <input
                              type="submit"
                              name="login-submit"
                              id="login-submit"
                              tabindex="4"
                              class="form-control btn btn-login"
                              value="Log In"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="text-center">
                              <a
                                routerLink="/customer/forgotPassword"
                                tabindex="5"
                                class="forgot-password"
                                >Forgot Password?</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
