<header>
  <a href="staff/login.component.html">Staff Corner</a>
  <div class="bankSmall">
    <img
      src="./assets/images/bank-img-1.jpg"
      style="width: 140px"
      alt="bank.png"
    />
  </div>
</header>
<main>
  <div class="updateFields">
    <h2 class="text-center">Update Password</h2>
    <br />
    <form action="post">
      <input
        type="text"
        name="username"
        id="username"
        placeholder="{{ username }}"
      />
      <input
        type="password"
        name="newPassword"
        id="newPassword"
        placeholder="Enter new password"
        [(ngModel)]="resetPassword.password"
        required
      />
      <input
        type="password"
        name="confirmPassword"
        id="confirmPassword"
        placeholder="Confirm password"
        [(ngModel)]="resetPassword.confirmPassword"
        required
      />
      <button
        name="btnUpdate"
        class="btn btn-lg btn-primary btn-block btnForget"
        type="submit"
        id="btnUpdate"
        (click)="doSubmit()"
      >
        Update Password
      </button>
    </form>
  </div>
  <p>Already have a customer account?</p>
  <a routerLink="/customer/login">LOGIN HERE</a>
</main>
