<div class="dashboard-header">
  <img src="assets/images/bank-img-1.jpg" style="height: 80px" alt="" />
  <a routerLink="/customer/profile">Profile</a>

  <a href="">Logout</a>

  <h6 class="dashboarduser">Welcome, customer: {{ customerId }}</h6>
</div>
<div>
  <h1 style="text-align: center">Remove Beneficiary</h1>
</div>
<nav class="nav nav-pills nav-fill">
  <a
    routerLink="/customer/createAccount"
    class="nav-item nav-link"
    routerLinkActive="active"
    >Create Account</a
  >
  <a
    class="nav-item nav-link"
    routerLink="/customer/addBeneficiary"
    routerLinkActive="active"
    >Add Beneficiary</a
  >
  <a
    class="nav-item nav-link"
    routerLink="/customer/removeBeneficiary"
    routerLinkActive="active"
    >Remove Beneficiary</a
  >
  <a
    class="nav-item nav-link"
    routerLink="/customer/transfer"
    routerLinkActive="active"
    >Transfer Money</a
  >
  <a
    class="nav-item nav-link"
    routerLink="/customer/accountDetails"
    routerLinkActive="active"
    >View Statement</a
  >
</nav>
<div class="main-content">
  <table class="table table-striped table-sm">
    <thead></thead>
    <thead>
      <tr>
        <th scope="col">Beneficiary Account Number</th>
        <th scope="col">Beneficiary Name</th>
        <th scope="col">Active</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let beneficiary of beneficiaries">
        <td>{{ beneficiary.beneficiaryAccountNo }}</td>
        <td>{{ beneficiary.beneficiaryName }}</td>
        <td>{{ beneficiary.active }}</td>
        <td>
          <button
            (click)="deleteBeneficiary(beneficiary.beneficiaryID)"
            class="btn btn-danger"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
